# Clerk
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
CLERK_WEBHOOK_SIGNING_SECRET=
CLERK_AUTHORIZED_PARTIES=
CORS_ORIGINS=

# Runtime
NODE_ENV=development
PORT=5500
SERVER_URL=https://recurrly-api.vercel.app

# Arcjet
ARCJET_KEY=""
ARCJET_ENV=development

# MongoDB
DB_URI=""

# Upstash QStash / Workflow
QSTASH_URL="https://qstash-us-east-1.upstash.io"
QSTASH_TOKEN=""
QSTASH_CURRENT_SIGNING_KEY=""
QSTASH_NEXT_SIGNING_KEY=""

# Email (Gmail App Password)
EMAIL_PASSWORD=""